<% if @feedback.errors.any? %>
  <% @feedback.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit feedback #<%= @feedback.id %>
</h1>

<hr>

<form action="/update_feedback/<%= @feedback.id %>" method="post">


  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @feedback.comments %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update feedback
  </button>
</form>

<hr>

<a href="/feedbacks">
  Go back
</a>
