<!-- Validation failure messages -->
<% if @feedback.errors.any? %>
  <% @feedback.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit feedback #<%= @feedback.id %>
</h1>

<hr>

<!-- Form feedback start -->
<form action="/update_feedback/<%= @feedback.id %>" method="post">
<!-- Form feedback end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for comments start -->
  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <!-- Input for comments start -->
    <input type="text" id="comments" name="comments" class="form-control" value="<%= @feedback.comments %>">
    <!-- Input for comments end -->
  </div>
  <!-- Label and input for comments end -->

  <button class="btn btn-block btn-outline-secondary">
    Update feedback
  </button>
</form>

<hr>

<a href="/feedbacks">
  Go back
</a>
