<h1>
  Edit feedback #<%= @feedback.id %>
</h1>

<hr>

<!-- Form feedback start -->
<form action="/update_feedback/<%= @feedback.id %>" method="post">
<!-- Form feedback end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @feedback.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for comments start -->
  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <!-- Input for comments start -->
    <input type="text" id="comments" name="comments" class="form-control" value="<%= @feedback.comments %>">
    <!-- Input for comments end -->
  </div>
  <!-- Label and input for comments end -->

  <button class="btn btn-block btn-outline-secondary">
    Update feedback
  </button>
</form>

<hr>

<a href="/feedbacks">
  Go back
</a>
