<% if @feedback.present? %>
  <% if @feedback.errors.any? %>
    <% @feedback.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new feedback
</h1>


<hr>

<form action="/create_feedback" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @feedback.comments %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create feedback
  </button>
</form>

<hr>

<a href="/feedbacks">
  Go back
</a>
